

h1 {
  text-align: center;
}

p {
text-align: center;
}

body {
  background-image :url(http://27walls.com/walls/games/abstract-atom-864864-1920x1080.jpg);
  color: lightgrey;
}

div {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px grey solid;
  width: 50%;
  height: 50%;
  box-shadow: 5px 15px 15px black;
margin-left: auto;
margin-right: auto;
}
