

h1 {
  text-align: center;
}

p {
text-align: center;
}

body {
  background-image :url(http://images.123hdwallpapers.com/20150423/grey-linux-wallpaper-1920x1200.jpg);
  color: lightgrey;
}

div {
  background-color: rgba(0, 0, 0, 0.5);
}
